In [59]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import style
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer 
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [60]:
weather_full_data = pd.read_csv("weatherAUS.csv")

In [61]:
weather_full_data.head()

         Date Location  MinTemp  ...  Temp3pm  RainToday  RainTomorrow
0  2008-12-01   Albury     13.4  ...     21.8         No            No
1  2008-12-02   Albury      7.4  ...     24.3         No            No
2  2008-12-03   Albury     12.9  ...     23.2         No            No
3  2008-12-04   Albury      9.2  ...     26.5         No            No
4  2008-12-05   Albury     17.5  ...     29.7         No            No

[5 rows x 23 columns]

In [62]:
weather_full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142193 entries, 0 to 142192
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           142193 non-null  object
 1   Location       142193 non-null  object
 2   MinTemp        141556 non-null  float64
 3   MaxTemp        141871 non-null  float64
 4   Rainfall       140787 non-null  float64
 5   Evaporation    81350 non-null   float64
 6   Sunshine       74377 non-null   float64
 7   WindGustDir    132863 non-null  object
 8   WindGustSpeed  132923 non-null  float64
 9   WindDir9am     132180 non-null  object
 10  WindDir3pm     138415 non-null  object
 11  WindSpeed9am   140845 non-null  float64
 12  WindSpeed3pm   139563 non-null  float64
 13  Humidity9am    140419 non-null  float64
 14  Humidity3pm    138583 non-null  float64
 15  Pressure9am    128179 non-null  float64
 16  Pressure3pm    128212 non-null  float64
 17  Cloud9am       88536 non-null   float64
 18  Cloud3pm       85099 non-null   float64
 19  Temp9am        141289 non-null  float64
 20  Temp3pm        139467 non-null  float64
 21  RainToday      140787 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.0+ MB

In [63]:
#Dropping the columns which will make us do the most work : ie: the date {in string format} and the columns with a lot of null values 
weather_half_full_data = weather_full_data.drop(columns = ["Date", "Evaporation", "Sunshine", "Cloud9am", "Cloud3pm"])

In [64]:
print(weather_half_full_data.head())
weather_half_full_data.shape

  Location  MinTemp  MaxTemp  Rainfall  ... Temp9am  Temp3pm RainToday RainTomorrow
0   Albury     13.4     22.9       0.6  ...    16.9     21.8        No           No
1   Albury      7.4     25.1       0.0  ...    17.2     24.3        No           No
2   Albury     12.9     25.7       0.0  ...    21.0     23.2        No           No
3   Albury      9.2     28.0       0.0  ...    18.1     26.5        No           No
4   Albury     17.5     32.3       1.0  ...    17.8     29.7        No           No

[5 rows x 18 columns]

(142193, 18)

In [65]:
#Dropping all null values and establishing the dataset we'll work with
weather_data = weather_half_full_data.dropna()
print(weather_data)
weather_data.shape

       Location  MinTemp  MaxTemp  ...  Temp3pm RainToday  RainTomorrow
0        Albury     13.4     22.9  ...     21.8        No            No
1        Albury      7.4     25.1  ...     24.3        No            No
2        Albury     12.9     25.7  ...     23.2        No            No
3        Albury      9.2     28.0  ...     26.5        No            No
4        Albury     17.5     32.3  ...     29.7        No            No
...         ...      ...      ...  ...      ...       ...           ...
142188    Uluru      3.5     21.8  ...     20.9        No            No
142189    Uluru      2.8     23.4  ...     22.4        No            No
142190    Uluru      3.6     25.3  ...     24.5        No            No
142191    Uluru      5.4     26.9  ...     26.1        No            No
142192    Uluru      7.8     27.0  ...     26.0        No            No

[112925 rows x 18 columns]

(112925, 18)

In [66]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112925 entries, 0 to 142192
Data columns (total 18 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Location       112925 non-null  object
 1   MinTemp        112925 non-null  float64
 2   MaxTemp        112925 non-null  float64
 3   Rainfall       112925 non-null  float64
 4   WindGustDir    112925 non-null  object
 5   WindGustSpeed  112925 non-null  float64
 6   WindDir9am     112925 non-null  object
 7   WindDir3pm     112925 non-null  object
 8   WindSpeed9am   112925 non-null  float64
 9   WindSpeed3pm   112925 non-null  float64
 10  Humidity9am    112925 non-null  float64
 11  Humidity3pm    112925 non-null  float64
 12  Pressure9am    112925 non-null  float64
 13  Pressure3pm    112925 non-null  float64
 14  Temp9am        112925 non-null  float64
 15  Temp3pm        112925 non-null  float64
 16  RainToday      112925 non-null  object
 17  RainTomorrow   112925 non-null  object
dtypes: float64(12), object(6)
memory usage: 16.4+ MB

In [67]:
#Making the "Yes" and "No" 
label = LabelEncoder()

In [68]:
weather_data["RainToday"] = label.fit_transform(weather_data["RainToday"])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [69]:
weather_data.head()

  Location  MinTemp  MaxTemp  ...  Temp3pm RainToday  RainTomorrow
0   Albury     13.4     22.9  ...     21.8         0            No
1   Albury      7.4     25.1  ...     24.3         0            No
2   Albury     12.9     25.7  ...     23.2         0            No
3   Albury      9.2     28.0  ...     26.5         0            No
4   Albury     17.5     32.3  ...     29.7         0            No

[5 rows x 18 columns]

In [70]:
weather_data["RainTomorrow"] = label.fit_transform(weather_data["RainTomorrow"])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [71]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112925 entries, 0 to 142192
Data columns (total 18 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Location       112925 non-null  object
 1   MinTemp        112925 non-null  float64
 2   MaxTemp        112925 non-null  float64
 3   Rainfall       112925 non-null  float64
 4   WindGustDir    112925 non-null  object
 5   WindGustSpeed  112925 non-null  float64
 6   WindDir9am     112925 non-null  object
 7   WindDir3pm     112925 non-null  object
 8   WindSpeed9am   112925 non-null  float64
 9   WindSpeed3pm   112925 non-null  float64
 10  Humidity9am    112925 non-null  float64
 11  Humidity3pm    112925 non-null  float64
 12  Pressure9am    112925 non-null  float64
 13  Pressure3pm    112925 non-null  float64
 14  Temp9am        112925 non-null  float64
 15  Temp3pm        112925 non-null  float64
 16  RainToday      112925 non-null  int64
 17  RainTomorrow   112925 non-null  int64
dtypes: float64(12), int64(2), object(4)
memory usage: 16.4+ MB

In [72]:
#Turning objects into categorical data
to_be_encoded = weather_data[["Location", "WindGustDir", "WindDir9am", "WindDir3pm"]].copy()
to_be_encoded

       Location WindGustDir WindDir9am WindDir3pm
0        Albury           W          W        WNW
1        Albury         WNW        NNW        WSW
2        Albury         WSW          W        WSW
3        Albury          NE         SE          E
4        Albury           W        ENE         NW
...         ...         ...        ...        ...
142188    Uluru           E        ESE          E
142189    Uluru           E         SE        ENE
142190    Uluru         NNW         SE          N
142191    Uluru           N         SE        WNW
142192    Uluru          SE        SSE          N

[112925 rows x 4 columns]

In [73]:
weather_dummies = pd.get_dummies(to_be_encoded)

In [74]:
weather_dummies.shape

(112925, 92)

In [75]:
weather_data = weather_data = weather_data.drop(["Location", "WindGustDir", "WindDir9am", "WindDir3pm"], axis = 1)

In [76]:
weather_data.shape

(112925, 14)

In [91]:
weather_data = pd.concat([weather_data, weather_dummies], axis = 1).reset_index(drop=True)

In [93]:
weather_data.head()

   MinTemp  MaxTemp  Rainfall  ...  WindDir3pm_W  WindDir3pm_WNW  WindDir3pm_WSW
0     13.4     22.9       0.6  ...             0               1               0
1      7.4     25.1       0.0  ...             0               0               1
2     12.9     25.7       0.0  ...             0               0               1
3      9.2     28.0       0.0  ...             0               0               0
4     17.5     32.3       1.0  ...             0               0               0

[5 rows x 106 columns]

In [94]:
#Scaling the other values
scaler = StandardScaler()

In [95]:
to_be_scaled = weather_data[["MinTemp", "MaxTemp", "Rainfall", "WindGustSpeed", "WindSpeed9am", "WindSpeed3pm", "Humidity9am", "Humidity3pm", "Pressure9am", "Pressure3pm", "Temp9am", "Temp3pm"]].copy()

In [96]:
scaled_array = scaler.fit_transform(to_be_scaled)

In [97]:
scaled = pd.DataFrame(scaled_array, columns = ["MinTemp_s", "MaxTemp_s", "Rainfall_s", "WindGustSpeed_s", "WindSpeed9am_s", "WindSpeed3pm_s", "Humidity9am_s", "Humidity3pm_s", "Pressure9am_s", "Pressure3pm_s", "Temp9am_s", "Temp3pm_s"])

In [98]:
scaled.head()

   MinTemp_s  MaxTemp_s  Rainfall_s  ...  Pressure3pm_s  Temp9am_s  Temp3pm_s
0   0.117567  -0.108221   -0.206661  ...      -1.142455  -0.088435  -0.047870
1  -0.841802   0.206845   -0.276405  ...      -1.041848  -0.041228   0.317768
2   0.037620   0.292772   -0.276405  ...      -0.912497   0.556724   0.156887
3  -0.553991   0.622159   -0.276405  ...      -0.323229   0.100392   0.639531
4   0.773137   1.237969   -0.160165  ...      -1.300551   0.053185   1.107548

[5 rows x 12 columns]

In [99]:
weather_data = pd.concat([weather_data, scaled], axis = 1).reset_index(drop = True)

In [100]:
weather_data.shape

(112925, 118)

In [101]:
weather_data = weather_data.drop(["MinTemp", "MaxTemp", "Rainfall", "WindGustSpeed", "WindSpeed9am", "WindSpeed3pm", "Humidity9am", "Humidity3pm", "Pressure9am", "Pressure3pm", "Temp9am", "Temp3pm"], axis = 1)

In [102]:
weather_data.shape

(112925, 106)

In [103]:
X = weather_data.drop(["RainTomorrow"], axis = 1)
y = weather_data["RainTomorrow"]

In [104]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [105]:
print("My shapes are : ", "\n"
      "X_train : ", X_train.shape, "\n"
      "X_test : ", X_test.shape, "\n"
      "y_train : ", y_train.shape, "\n"
      "y_test : ", y_test.shape)

My shapes are :
X_train :  (90340, 105)
X_test :  (22585, 105)
y_train :  (90340,)
y_test :  (22585,)

# Time for my deep learning model!

In [106]:
#Defining a function for my perceptron
def perceptron(n_params):
    #Model Instanciation
    model = Sequential()
    
    #Layer arc

    model.add(Dense(1, input_dim = n_params, activation = 'sigmoid'))

    # return the created model
    return model

In [107]:
my_perp = perceptron(X_train.shape[-1])
my_perp.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
fitted_perp = my_perp.fit(X_train, y_train, epochs = 10, validation_data = (X_test, y_test), batch_size = 18)

Epoch 1/10
5019/5019 [==============================] - 9s 2ms/step - loss: 0.4349 - accuracy: 0.8078 - val_loss: 0.3481 - val_accuracy: 0.8529
Epoch 2/10
5019/5019 [==============================] - 8s 2ms/step - loss: 0.3501 - accuracy: 0.8504 - val_loss: 0.3449 - val_accuracy: 0.8538
Epoch 3/10
5019/5019 [==============================] - 8s 2ms/step - loss: 0.3458 - accuracy: 0.8516 - val_loss: 0.3434 - val_accuracy: 0.8557
Epoch 4/10
5019/5019 [==============================] - 9s 2ms/step - loss: 0.3482 - accuracy: 0.8500 - val_loss: 0.3430 - val_accuracy: 0.8549
Epoch 5/10
5019/5019 [==============================] - 8s 2ms/step - loss: 0.3462 - accuracy: 0.8512 - val_loss: 0.3426 - val_accuracy: 0.8546
Epoch 6/10
5019/5019 [==============================] - 8s 2ms/step - loss: 0.3469 - accuracy: 0.8527 - val_loss: 0.3419 - val_accuracy: 0.8553
Epoch 7/10
5019/5019 [==============================] - 8s 2ms/step - loss: 0.3452 - accuracy: 0.8532 - val_loss: 0.3418 - val_accuracy: 0.8553
Epoch 8/10
5019/5019 [==============================] - 8s 2ms/step - loss: 0.3438 - accuracy: 0.8538 - val_loss: 0.3420 - val_accuracy: 0.8549
Epoch 9/10
5019/5019 [==============================] - 8s 2ms/step - loss: 0.3456 - accuracy: 0.8523 - val_loss: 0.3418 - val_accuracy: 0.8550
Epoch 10/10
5019/5019 [==============================] - 7s 1ms/step - loss: 0.3436 - accuracy: 0.8544 - val_loss: 0.3416 - val_accuracy: 0.8553

In [110]:
def mlp(n_params):
  model = Sequential()

  #Couches cachees
  model.add(Dense(4, input_dim = n_params, activation = 'tanh'))
  model.add(Dense(3, activation = 'relu'), kernel_regularizer=tf.keras.regularizers.l2(0.01))
  model.add(Dense(4, activation = 'relu'))

  #Couche de sortie
  model.add(Dense(1, activation = 'sigmoid'))

  return model

In [111]:
my_mlp = perceptron(X_train.shape[-1])
my_mlp.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
fitted_mult_perp = my_mlp.fit(X_train, y_train, epochs = 10, validation_data = (X_test, y_test), batch_size = 18)

Epoch 1/10
5019/5019 [==============================] - 8s 2ms/step - loss: 0.4194 - accuracy: 0.8187 - val_loss: 0.3473 - val_accuracy: 0.8526
Epoch 2/10
5019/5019 [==============================] - 8s 2ms/step - loss: 0.3483 - accuracy: 0.8503 - val_loss: 0.3443 - val_accuracy: 0.8550
Epoch 3/10
5019/5019 [==============================] - 9s 2ms/step - loss: 0.3471 - accuracy: 0.8525 - val_loss: 0.3432 - val_accuracy: 0.8562
Epoch 4/10
5019/5019 [==============================] - 8s 2ms/step - loss: 0.3432 - accuracy: 0.8529 - val_loss: 0.3431 - val_accuracy: 0.8549
Epoch 5/10
5019/5019 [==============================] - 8s 2ms/step - loss: 0.3482 - accuracy: 0.8515 - val_loss: 0.3427 - val_accuracy: 0.8554
Epoch 6/10
5019/5019 [==============================] - 8s 2ms/step - loss: 0.3472 - accuracy: 0.8516 - val_loss: 0.3422 - val_accuracy: 0.8547
Epoch 7/10
5019/5019 [==============================] - 8s 2ms/step - loss: 0.3444 - accuracy: 0.8528 - val_loss: 0.3419 - val_accuracy: 0.8551
Epoch 8/10
5019/5019 [==============================] - 8s 2ms/step - loss: 0.3443 - accuracy: 0.8512 - val_loss: 0.3422 - val_accuracy: 0.8547
Epoch 9/10
5019/5019 [==============================] - 8s 2ms/step - loss: 0.3453 - accuracy: 0.8511 - val_loss: 0.3416 - val_accuracy: 0.8556
Epoch 10/10
5019/5019 [==============================] - 8s 2ms/step - loss: 0.3392 - accuracy: 0.8554 - val_loss: 0.3417 - val_accuracy: 0.8555

In [115]:
my_perp.predict(X_test[0:1])

array([[0.01089031]], dtype=float32)

In [117]:
y_test[0:1]

83764    0
Name: RainTomorrow, dtype: int64

In [116]:
my_mlp.predict(X_test[0:1])

array([[0.01126412]], dtype=float32)

In [118]:
y_test[0:1]

83764    0
Name: RainTomorrow, dtype: int64